html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
ul li a {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
h2 {
    text-align: center;
}
img {
    width: 200px; 
    height: auto; 
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: white;
    padding: 10px 20px 0px;
}
.header {
    background-color: white;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: white;
    min-height: 150px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}
